body { 

    font-family: Arial, sans-serif; 

    color: #e9e4e4; 

    background-color: #fa017e; 

    margin: 0; 

    padding: 0; 

    line-height: 1.6; 

} 

header { 

    background-color: #d78bc5; 

    color: rgb(203, 167, 186); 

    padding: 20px; 

    text-align: center; 

} 

 

header h1 { 

    margin: 0; 

} 

 

nav a { 

    color: rgb(219, 24, 24); 

    text-decoration: none; 

    margin: 0 10px; 

} 

 

nav a:hover { 
 text-decoration: underline; 

} 

main { 

    padding: 20px; 

    max-width: 800px; 

    margin: 0 auto; 

} 

 

main img { 

    max-width: 100%; 

    height: auto; 

    display: block; 

    margin: 20px 0; 

} 
footer { 

    background-color: #333; 

    color: rgb(42, 2, 32); 

    text-align: center; 

    padding: 10px; 

    position: fixed; 

    bottom: 0; 

    width: 100%; 

} 
p { 

    font-size: 1.1em; 

} 

 

a { 

    color: #a70e0e; 

    text-decoration: none;
} 

 

a:hover { 

    text-decoration: underline; 

}  
img { 

    border: 5px solid #72074d; 

    border-radius: 10px; 

} 
main a[href^="mailto:"] { 

    color: #ff5722; 

    font-weight: bold; 

} 